.categories {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}
.active-category {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
.categories button:hover {
  font-weight: bold;
}
